<!DOCTYPE html>
<html>
  <head>
      <link href="style.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    
    <script src="/socket.io/socket.io.js"></script> <!-- use the library -->
    <script src="/script.js"></script> <!-- use "script.js" file --> 
    
    <div id="main-menu">
  <h2 class="center-block">typefight</h2>
  <div class="startInput">
  <input autocomplete="off" id="user"class="center-block" placeholder="username" ></input>
    <input autocomplete="off" id="room" class="center-block" placeholder="room" ></input>
      </div>

  <button id = "playGame" class="center-block">ENTER</button></div><div id="typing">

    <button class="actualgame" id="ready">ready</button>
    <script src="script.js"></script>
    <class name = "fullgame">
    <h2 class="actualgame">typefight</h2>
    
    <p id="random"></p>
    <button class="actualgame" id="start">Play</button>
    <input autocomplete="off" style = "display: none" name="textbox" id="typehere" type="text" value="">
    <p id="stats"></p>
    </class>
  </div>
  </body>
</html>